@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.events-section {
  text-align: center;
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
}
.events-section h2 {
  margin: 30px auto;
  font-size: 2rem;
  color: #3b2b3b;
}
.events-section .events-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.events-section .events-container .image-container {
  width: 49.5%;
}
.events-section .events-container .image-container figure img {
  width: 90%;
}
.events-section .events-container .image-container figure img:hover {
  transform: scale(1.1);
}
.events-section .events-container .image-container figure figcaption {
  padding: 5px;
  margin: 5px auto;
  font-size: 1rem;
  color: #3b2b3b;
}
.events-section .events-container .image-container p {
  text-align: left;
  line-height: 1.2;
  color: #222121;
}
.events-section .events-container .image-container .learn-more {
  display: block;
  background-color: #a81c1c;
  width: 150px;
  border-radius: 10%;
  padding: 10px;
  margin: 10px auto;
}
.events-section .events-container .image-container .learn-more:hover {
  background-color: #fff;
  color: #a81c1c;
}