@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.learn-more {
  display: inline-block;
  background-color: #a81c1c;
  border-radius: 10%;
  padding: 10px;
  margin: 20px auto;
  transition: all 1s;
}
.learn-more:hover {
  background-color: #fff;
  color: #a81c1c;
}

.line {
  display: block;
  width: 200px;
  height: 5px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #a81c1c;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}

.explore-section {
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}
.explore-section .explore-content {
  width: 50%;
  margin: 10px 20px;
  position: absolute;
  top: 5rem;
  left: 1px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8274509804);
}
.explore-section .explore-content .subtitle {
  color: rgba(255, 255, 255, 0.8274509804);
  font-size: 3rem;
  margin-bottom: 10px;
}
.explore-section .explore-content p {
  text-align: left;
  line-height: 1.2;
}