* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.explore-section {
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}
.explore-section .explore-content {
  width: 50%;
  margin: 10px 20px;
  position: absolute;
  top: 120px;
  left: 30px;
  text-align: center;
  color: #fff;
}
.explore-section .explore-content .subtitle {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 10px;
}
.explore-section .explore-content .line {
  width: 200px;
  height: 5px;
  background-color: #a81c1c;
  margin-bottom: 20px;
}
.explore-section .explore-content p {
  text-align: left;
}
.explore-section .explore-content .learn-more {
  display: inline-block;
  background-color: #a81c1c;
  border-radius: 10%;
  padding: 10px;
  width: 100px;
  margin-top: 10px;
}
.explore-section .explore-content .learn-more:hover {
  background-color: #fff;
  color: #a81c1c;
}