@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.learn-more {
  display: inline-block;
  background-color: #a81c1c;
  border-radius: 10%;
  padding: 10px;
  margin: 20px auto;
  transition: all 1s;
}
.learn-more:hover {
  background-color: #fff;
  color: #a81c1c;
}

.line {
  display: block;
  width: 200px;
  height: 5px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #a81c1c;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}

.header-container {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Work Sans", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-container .nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 10px;
}
.header-container .nav-bar .logo {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8274509804);
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
}
.header-container .nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .nav-bar ul li {
  list-style: none;
  margin-right: 10px;
  font-size: 1.1rem;
}
.header-container .nav-bar ul li .contact {
  background-color: #a81c1c;
  border-radius: 10%;
  padding: 5px 10px;
}
.header-container .nav-bar ul li .contact:hover {
  background-color: rgba(255, 255, 255, 0.8274509804);
  color: #a81c1c;
}
.header-container .nav-bar ul li a {
  padding: 10px;
}
.header-container .nav-bar ul li a:hover {
  color: #a81c1c;
}
.header-container .nav-bar ul li .active {
  color: #a81c1c;
}
.header-container .main-title {
  color: rgba(255, 255, 255, 0.8274509804);
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}
.header-container .subtitle {
  color: rgba(255, 255, 255, 0.8274509804);
  font-size: 5rem;
  font-family: "Bebas Neue", cursive;
}