@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:wght@500&display=swap");
.learn-more {
  display: inline-block;
  background-color: #a81c1c;
  border-radius: 10%;
  padding: 10px;
  margin: 20px auto;
  transition: all 1s;
  font-weight: bold;
}
.learn-more:hover {
  background-color: #fff;
  color: #a81c1c;
}

.line {
  display: block;
  width: 200px;
  height: 5px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #a81c1c;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}

@media (max-width: 700px) {
  .learn-more:hover {
    background-color: #a81c1c;
    color: rgba(255, 255, 255, 0.8274509804);
  }

  .line {
    width: 100px;
  }
}
.header-container {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.header-container .nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px;
}
.header-container .nav-bar .logo {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.8274509804);
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  z-index: 1000;
  font-weight: bold;
}
.header-container .nav-bar .btn {
  width: 40px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
.header-container .nav-bar .btn img {
  width: inherit;
}
.header-container .nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .nav-bar ul li {
  list-style: none;
  margin-right: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}
.header-container .nav-bar ul li .tour {
  background-color: #a81c1c;
  border-radius: 20% 5%;
  padding: 5px 10px;
}
.header-container .nav-bar ul li .tour:hover {
  background-color: rgba(255, 255, 255, 0.8274509804);
  color: #a81c1c;
}
.header-container .nav-bar ul li a {
  padding: 10px;
}
.header-container .nav-bar ul li a:hover {
  color: #a81c1c;
}
.header-container .nav-bar ul li .active {
  color: #a81c1c;
}
.header-container .main-title {
  color: rgba(255, 255, 255, 0.8274509804);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.header-container .subtitle {
  color: rgba(255, 255, 255, 0.8274509804);
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 700px) {
  .header-container .nav-bar ul {
    flex-direction: column;
    position: absolute;
    justify-content: center;
    right: 0;
    top: 0;
    background-color: #481374;
    width: 100%;
    height: 100vh;
    z-index: 10;
    margin-top: -1500px;
    transition: all 1s;
    border-radius: 0 0 40% 0;
  }
  .header-container .nav-bar ul li {
    margin-bottom: 4rem;
  }
  .header-container .nav-bar ul li a {
    font-size: 2rem;
  }
  .header-container .nav-bar ul li a:hover {
    color: rgba(255, 255, 255, 0.8274509804);
  }
  .header-container .nav-bar ul li .tour:visited {
    background-color: #a81c1c;
    color: white;
  }
  .header-container .nav-bar .btn {
    display: block;
  }
  .header-container .nav-bar .show {
    margin-top: 0;
  }
  .header-container .main-title {
    font-size: 1.5rem;
  }
  .header-container .subtitle {
    font-size: 3rem;
  }
}
@media (max-height: 510px) {
  .header-container .nav-bar ul li {
    margin-bottom: 2rem;
  }
  .header-container .nav-bar ul li a {
    font-size: 1.5rem;
  }
  .header-container .main-title {
    font-size: 1.5rem;
  }
  .header-container .subtitle {
    font-size: 2rem;
  }
}
@media (max-height: 350px) {
  .header-container {
    justify-content: space-between;
  }
}