@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:wght@500&display=swap");
.learn-more {
  display: inline-block;
  background-color: #a81c1c;
  border-radius: 10%;
  padding: 10px;
  margin: 20px auto;
  transition: all 1s;
  font-weight: bold;
}
.learn-more:hover {
  background-color: #fff;
  color: #a81c1c;
}

.line {
  display: block;
  width: 200px;
  height: 5px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #a81c1c;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}

@media (max-width: 700px) {
  .learn-more:hover {
    background-color: #a81c1c;
    color: rgba(255, 255, 255, 0.8274509804);
  }

  .line {
    width: 100px;
  }
}
.errorMessage {
  opacity: 0;
  position: fixed;
  top: 30vh;
  left: 50%;
  background-color: #a81c1c;
  color: rgba(255, 255, 255, 0.8274509804);
  font-weight: bold;
  border-radius: 15px;
  width: 200px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  z-index: 100;
  margin: 10px auto;
  transform: translateX(-50%);
  transition: all 0.6s;
}
.errorMessage #errorBtn {
  margin: 10px auto;
  padding: 5px 0;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  width: 20%;
  border: none;
  background-color: #a81c1c;
  border: 1px solid rgba(255, 255, 255, 0.8274509804);
  color: rgba(255, 255, 255, 0.8274509804);
}
.errorMessage #errorBtn:hover {
  transform: scale(1.1);
}
.errorMessage #errorBtn:active {
  transform: scale(1.3);
}

.showError {
  opacity: 1;
}

.events-section {
  text-align: center;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.events-section h2 {
  margin: 30px auto;
  font-size: 2.5rem;
  color: #674568;
}
.events-section .events-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
.events-section .events-container .image-container {
  flex-basis: 50%;
}
.events-section .events-container .image-container figure img {
  width: 95%;
  transition: all 0.5s;
}
.events-section .events-container .image-container figure img:hover {
  transform: scale(1.1);
}
.events-section .events-container .image-container figure figcaption {
  padding: 5px;
  margin: 10px auto;
  font-size: 1rem;
  color: #3b2b3b;
}
.events-section .events-container .image-container p {
  text-align: left;
  line-height: 1.2;
  color: #363535;
  width: 95%;
  margin: auto;
}

.explore-section {
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.explore-section .explore-content {
  width: 50%;
  margin: auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8274509804);
}
.explore-section .explore-content .subtitle {
  color: rgba(255, 255, 255, 0.8274509804);
  font-size: 3rem;
  margin-bottom: 10px;
}
.explore-section .explore-content p {
  text-align: left;
  line-height: 1.2;
  font-size: 1.1rem;
}

section.upcoming-section {
  position: relative;
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.upcoming-section .content {
  flex-basis: 40%;
  margin: 10px;
  text-align: center;
}
section.upcoming-section .content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #674568;
  text-transform: uppercase;
}
section.upcoming-section .content p {
  color: #363535;
}
section.upcoming-section .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 60%;
  gap: 10px;
}
section.upcoming-section .images img {
  width: 200px;
  height: 150px;
  margin: 2px;
  transition: all 0.5s;
}
section.upcoming-section .images img:hover {
  transform: scale(1.1);
}

@media (max-width: 815px) {
  section.upcoming-section {
    width: 100%;
  }
  section.upcoming-section .images img {
    width: 180px;
    height: 150px;
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  section.upcoming-section {
    flex-direction: column;
  }
  section.upcoming-section .content {
    width: 70%;
  }
  section.upcoming-section .content h2 {
    font-size: 1.5rem;
  }
  section.upcoming-section .images {
    flex-direction: column;
    width: 80%;
  }
  section.upcoming-section .images img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .events-section h2 {
    margin: 15px auto;
    font-size: 1.8rem;
  }
  .events-section .events-container {
    flex-direction: column;
    width: 95%;
  }
  .events-section .events-container .image-container {
    width: 100%;
  }
  .events-section .events-container .image-container p {
    text-align: center;
    width: 90%;
  }
  .events-section .events-container .image-container figure img {
    transition: none;
  }
  .events-section .events-container .image-container figure img:hover {
    transform: none;
  }

  .explore-section {
    height: 400px;
    align-items: center;
  }
  .explore-section .explore-content {
    width: 90%;
    margin: 0;
    height: inherit;
  }
  .explore-section .explore-content .subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .explore-section .explore-content p {
    width: 100%;
    margin: 5px auto;
    font-size: 1.2rem;
    text-align: center;
  }
}