@import 'config';

.events-section {
    text-align: center;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;
    h2 {
        margin: 30px auto;
        font-size: 2.5rem;
        color: $kinda-purple;
    }

    .events-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin: auto;

        .image-container {
            width: 49.9%;

            figure {
                img {
                    width: 95%;
                    transition: all .5s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }

                figcaption {
                    padding: 5px;
                    margin: 10px auto;
                    font-size: 1rem;
                    color: #3b2b3b;
                }
            }

            p {
                text-align: left;
                line-height: 1.2;
                color: $black;
                width: 95%;
                margin: auto;
            }
        }
    }
}