@import 'config';

.explore-section {
    background-image: url('../img/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

    .explore-content {
        width: 50%;
        margin: 10px 20px;
        position: absolute;
        top: 5rem;
        left: 1px;
        text-align: center;
        color: $white;

        .subtitle {
            color: $white;
            font-size: 3rem;
            margin-bottom: 10px;
        }

        p {
            text-align: left;
            line-height: 1.2;
        }
    }
}