@import 'config';

footer {
    margin-top: 20px;
    background-color: $kinda-back-blue;
    color: $white;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 60px;
    line-height: 60px;
}