@import 'config';

.header-container {
    width: 100%;
    height: 100vh;
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .nav-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        padding: 10px;

        .logo {
            font-size: 2rem;
            color: $white;
            cursor: pointer;
            user-select: none;
            text-transform: uppercase;
            z-index: 1000;
        }

        .btn {
            width: 40px;
            z-index: 1000;
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: none;
            
            img {
                width: inherit;
            }
        }
            


        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                list-style: none;
                margin-right: 10px;
                font-size: 1.1rem;

                .contact {
                    background-color: $red;
                    border-radius: 10%;
                    padding: 5px 10px;

                    &:hover {
                        background-color: $white;
                        color: $red;
                    }
                }
                
                a {
                    padding: 10px;

                    &:hover {
                        color: $red;
                    }
                }
                
                .active {
                    color: $red;
                }
            }
        }
    }


    .main-title {
        color: $white;
        font-size: 2rem;
        font-family: 'Bebas Neue', cursive;
    }

    .subtitle {
        color: $white;
        font-size: 5rem;
        font-family: 'Bebas Neue', cursive;
    }
}

@media (max-width: 600px) {

    .header-container {
        .nav-bar {
            ul {
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 0;
                background-color: $roxo;
                width: 100%;
                height: 100vh;
                z-index: 100;
                margin-top: -1100px;
                transition: all 1s;
                border-radius: 0 0 40% 0;

                li {
                    margin: 50px;
                    font-weight: bold;
                }
                
            }

            .btn {
                display: block;
            }

            .show {
                margin-top: 0;
            }
        }

        .main-title {
            font-size: 1.5rem;
        }
    
        .subtitle {
            font-size: 3rem;
        }

    }

}