@import 'config';


// Events Section

.events-section {
    text-align: center;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;
    h2 {
        margin: 30px auto;
        font-size: 2.5rem;
        color: $kinda-purple;
    }

    .events-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin: auto;

        .image-container {
            width: 49.9%;

            figure {
                img {
                    width: 95%;
                    transition: all .5s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }

                figcaption {
                    padding: 5px;
                    margin: 10px auto;
                    font-size: 1rem;
                    color: #3b2b3b;
                }
            }

            p {
                text-align: left;
                line-height: 1.2;
                color: $black;
                width: 95%;
                margin: auto;
            }
        }
    }
}



// Explore Section

.explore-section {
    background-image: url('../img/bg2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .explore-content {
        width: 40%;
        margin: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $white;

        .subtitle {
            color: $white;
            font-size: 3rem;
            margin-bottom: 10px;
        }

        p {
            text-align: left;
            line-height: 1.2;
        }
    }
}


// Up comming Events section

section.upcoming-section {
    position: relative;
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
        width: 40%;
        margin: 10px;
        text-align: center;
        h2 {
            font-size: 2rem;
            margin-bottom: 10px;
            text-align: left;
            color: $kinda-purple;
            text-transform: uppercase;
        }
        p {
            text-align: left;
            color: $black;
        }
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 60%;
        gap: 1px;

        img {
            width: 200px;
            height: 150px;
            margin: 2px;
            transition: all .5s;

            &:hover {
                transform: scale(1.1)
            }
        }
    }
}

@media (max-width: 780px) {
    // Up comming Events section

    section.upcoming-section {
        flex-direction: column;

        .content {
            width: 80%;

            
        }

        .images {
            flex-direction: column;
            width: 80%;

            img {
                width: 100%;
                height: 300px;
                margin-bottom: 10px;
            }
        }
    }
}


@media (max-width: 600px) {
    .events-section {
        h2 {
            margin: 15px auto;
            font-size: 1.5rem;
        }

        
        .events-container {
            flex-direction: column;
            width: 100%;
            
            .image-container {
                width: 100%;
                
                p {
                    text-align: center;
                    width: 80%;
                }
                figure {
                    img {
                        transition: none;

                        &:hover {
                            transform: none;
                        }
                    }
                }
            }
        }
    }

    // Explore - section

    .explore-section {
        height : 300px;
        align-items: center;
        
        .explore-content {
            width: 100%;
            margin: 0;
            height: inherit;

            .subtitle {
                font-size: 2rem;
                margin-bottom: 5px;
            }

            p {
                width: 90%;
                margin: 5px auto;
            }
        }
    }

    // Up comming Events section

    section.upcoming-section {
        flex-direction: column;

        .content {
            width: 100%;

            h2 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }

        .images {
            flex-direction: column;
            width: 100%;

            img {
                width: 100%;
                height: 250px;
                transition: none;

                &:hover {
                    transform: none;
                }
            }
        }
    }
}
