@import 'config';

section.upcoming-section {
    position: relative;
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
        width: 40%;
        margin: 10px;
        text-align: center;
        h2 {
            font-size: 3rem;
            margin-bottom: 10px;
            text-align: left;
            color: $kinda-purple;
            text-transform: uppercase;
        }
        p {
            text-align: left;
            color: $black;
        }
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 60%;
        gap: 1px;

        img {
            width: 250px;
            height: 200px;
            margin: 2px;
            transition: all .5s;

            &:hover {
                transform: scale(1.1)
            }
        }
    }
}